spring:
 #Configuraci칩n MySQL
  datasource:
    url: jdbc:mysql://localhost:3306/libreriafuncional?allowPublicKeyRetrieval=true&useSSL=false&useTimezone=true&serverTimezone=GMT&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
#Configuraci칩n Creaci칩n de tablas (Hibernate)
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
#Que thymeleaf no guarde datos en cache
  thymeleaf:
    cache: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: pruebamailtucuman@gmail.com 
    #mi mail de correos
    password: pruebaTucuman.
    #contrase침a del mail habilitado
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            required: true
            enable: true